---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';

const info = await getCollection('info');
const profesionales = await getCollection('profesionales');
export const prerender = true
---

<Layout>
	<main>
		<h1 class='text-center text-7xl font-extrabold'>
		Bienvenido a <span class='block'>Centro medico</span>
		</h1>
	</main>
	<section aria-label="Informacion centros medicos">
		<div class="px4 mx-auto max-w-screen-xl">
			<div class='grid pad-6 md:grid-cols-2 margin-4 gap-4'>
				{
				info.map(info => {
					const { data } = info;
					const { centro, img, horario, descripcion } = data;
					return (
					<article><a href={`/clinicas/${info.slug}`}  class="mb-2 xl:mb-0 transition hover:scale-110">
						<img 
							src={img}
							alt={centro}
							class='w-full h-64 object-cover mb-4'/>
							<h3>{centro}</h3>
							<p>{horario}</p>
							<p>{descripcion}</p>
						</a>
					</article>
					);})
				}
			</div>
		</div>
	</section> 
	</Layout>